<html style="overflow: hidden; scroll-behavior: smooth;" class="supernova">
     <style>body{
        
 
         scroll-behavior: smooth;
         }
         body, html {
         touch-action: auto
         }

         .varientList::-webkit-scrollbar{
          
         width: 20px;

         }

         .modal-backdrop {
                    z-index: -1 !important;
         }

         .preview {
        overflow: hidden;
        width: 160px;
        height: 160px;
        margin: 10px;
        border: 1px solid red;
    }

    .modal-lg {
        max-width: 1000px !important;
    }

    div.scrollmenu {
 color: gold;
 cursor: pointer;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
     border-right: 1px solid gold;
  display: inline-block;
  color: rgb(0, 0, 0);

  text-align: center;
  padding: 14px;

}

div.scrollmenu a:hover {
     color: rgb(0, 0, 0);
  background-color: rgb(232, 229, 243);
}

.scrollmenu::-webkit-scrollbar{
     display: none;
}

     </style>
<%-include('./partials/spinner') %> 

 <%-include('./partials/header')%>
 
<!-- Material Dashboard CSS -->
       <link rel="stylesheet" href="https://unpkg.com/dropzone/dist/dropzone.css" />
     <link href="https://unpkg.com/cropperjs/dist/cropper.css" rel="stylesheet"/>

<script src="https://unpkg.com/dropzone"></script>
     <script src="https://unpkg.com/cropperjs"></script>

         <meta name="robots" content="noindex,follow" />
         <style type="text/css">@media print{.form-section{display:inline!important}.form-pagebreak{display:none!important}.form-section-closed{height:auto!important}.page-section{position:initial!important}}</style>
         <link type="text/css" rel="stylesheet" href="https://cdn01.jotfor.ms/themes/CSS/5e6b428acc8c4e222d1beb91.css?themeRevisionID=5eb3b4ae85bd2e1e2966db96"/>
         <link type="text/css" rel="stylesheet" href="https://cdn02.jotfor.ms/css/styles/payment/payment_styles.css?3" />
         <link type="text/css" rel="stylesheet" href="https://cdn03.jotfor.ms/css/styles/payment/payment_feature.css?3" />
         <style type="text/css" id="tempThumbnail">@media only screen and (max-width: 800px) { body, .supernova { background-color: #fff !important; }
             .form-all { box-shadow: none !important}
             }
         </style>
         <style>html { -webkit-overflow-scrolling: touch; overflow: scroll; }body { height: 100%; overflow: scroll; }</style>
     </head>


<!-- ------------------------------------------------------------------------------------------------------------------start of the crop   modal---------------------------------------------------------------------------- -->
<% for(var i = 1;i<=6 ; i++){%> 

     <div class="modal fade" id="modal<%=i%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelaria-hidden="true>
          <div class="modal-dialog" role="document">
               <div class="modal-content">
                    <div class="modal-header">
                         <h5 class="modal-title" id="exampleModalLabel">Crop Image Here</h5>
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                         </button>
                    </div>
                    <div class="modal-body">
                         <div class="img-container">
                              <div class="row">
                              <div class="col-md-8">
                                   <img src="" id="sampleImage<%=i%>" />
                              </div>
                              <div class="col-md-4">
                                   <div class="preview" id="preview<%=i%>"></div>
                              </div>
                              </div>
                         </div>
                    </div>
                    <div class="modal-footer">

                         <button type="button" id="crop<%=i%>" class="btn btn-primary">Crop</button>
                         <button type="button" class="btn btn-secondary" data-dismiss="modal"  onclick="closeModal1('<%=i%>')"  >Cancel</button>

                    </div>
               </div>
          </div>
          </div>

          <% } %> 
<!-- --------------------------------------------------------------------------------------------------------------------------end of the crop  modal-------------------------------------------------------------- -->


<!-- --------------------------------------------------------------------------------------------------------------------------start of the public id -------------------------------------------------------------- -->



<% for(var i = 1 ;i<= 6 ; i++) {%> 
    <input style="display: none;" type="text" id="publicId<%=i%>">
    <% } %> 

<!-- --------------------------------------------------------------------------------------------------------------------------end of the public id ------------------------------------------------------------- -->




     <body style="overflow-x:hidden;">
          <div class="home-content loader">
         <div class="jotform-form">
             <div role="main" class="form-all" style="margin:0 auto;">
                 <style>.form-all:before { background: none;}</style>
                 <ul class="form-section page-section shadow-lg">
                 <li id="cid_1" class="form-input-wide" data-type="control_head">
                     <div class="form-header-group header-large">
                         <div class="header-text httal htvam">
                             <h2 id="header_1" class="form-header" data-component="header">Increase Your Inventroy</h2>
                         </div>
                     </div>
                 </li>
                 <!-- name and barnd  -->
                 <li class="form-line" data-type="control_fullname" id="id_2">
                    <div id="cid_2" class="form-input-wide" data-layout="full">
                        <div data-wrapper-react="true"><span class="form-sub-label-container" style="vertical-align:top" data-input-type="first">
                            <input type="text" id="productName" class="form-textbox"  data-component="first"  name="proName"  onkeyup="clearMainError(event)"     />
                            <label class="form-sub-label" for="first_2" id="sublabel_2_first" style="min-height:13px" aria-hidden="false"> Product Name </label>
                             </span><span class="form-sub-label-container" style="vertical-align:top" data-input-type="last"><input  onkeyup="clearMainError(event)"type="text" id="brandName" name="brand" class="form-textbox" data-defaultvalue="" size="15" value="" data-component="last" aria-labelledby="label_2 sublabel_2_last" />
                            <label class="form-sub-label" for="last_2" id="sublabel_2_last" style="min-height:13px" aria-hidden="false"> Brand Name  </label></span>
                        </div>
                    </div>
                </li>
                <!-- {{ end of the name and bradn}} -->

                <!-- {{ catagory and subcatagory}} -->
                
                <li class="form-line" data-type="control_address" id="id_4">
                     <div id="cid_4" class="form-input-wide" data-layout="full">
                         <div summary="" class="form-address-table jsTest-addressField">
                             <div class="form-address-line-wrapper jsTest-address-line-wrapperField"><span class="form-address-line form-address-street-line jsTest-address-lineField"><span class="form-sub-label-container" style="vertical-align:top">
                             <div class="form-address-line-wrapper jsTest-address-line-wrapperField">
 
                                 <!-- catagory  -->
                                 <span class="form-address-line form-address-country-line jsTest-address-lineField ">
                                     <span class="form-sub-label-container" style="vertical-align:top">
                                         <!-- subcatagory -->
                                         <select class="form-dropdown form-address-country noTranslate"name="catagory" id="mainCat" data-component="country" required="" aria-labelledby="label_4 sublabel_4_country" onchange="getSub()" onkeyup="clearMainError(event)">
                                            <option value=""></option>
                                             <%if(data){ %> 
                                                 <!-- rendering the data in the main catagory  -->
                                                 <% for(i =0 ;i< data.length;i++){ %> 
                                                 <option> <%=data[i].catagory%> </option>
                                                 <% }} %> 
                                         </select>
                                         <label class="form-sub-label" for="input_4_country" id="sublabel_4_country" style="min-height:13px" aria-hidden="false"> Select a Catagory </label>
                                     </span>
                                 </span>
 
                             <span class="form-address-line form-address-country-line jsTest-address-lineField ">
                                 <span class="form-sub-label-container" style="vertical-align:top">
                                     <!-- subcatagory -->
                                     <span id="loaderForSubCatagory" style="display: none; position: absolute;" class="spinner-grow spinner-grow-lg" role="status" aria-hidden="true">     &nbsp &nbsp   Loading </span>
                                     <select class="   form-dropdown form-address-country noTranslate" name="subCatagory" id="subCatSel" data-component="country" required="" aria-labelledby="label_4 sublabel_4_country" onkeyup="clearMainError(event)">
                                         <option value=""></option>
                                     </select>
                                     <label class="form-sub-label" for="input_4_country" id="sublabel_4_country" style="min-height:13px" aria-hidden="false"> Select a sub Catagory </label>
                                 </span>
                             </span>
                             </div>
                         </div>
                     </div>
                 </li>

                <!-- end of the catagory and subcatagory -->
                <hr width="100%">




                <!-- ------------------------------------------------------------------------------------------- -->


                <li class="form-line card-3col" data-type="control_paypalcomplete" id="id_19" data-payment="true">
                    <label class="form-label form-label-top" id="label_19" for="input_19"> Products Image </label>
                    <div id="cid_19" class="form-input-wide" data-layout="full">
                        <div data-wrapper-react="true">
                            <div data-wrapper-react="true" class="product-container-wrapper">
                            <div class="filter-container"></div>
                                <!-- image is here -->
                            <div data-wrapper-react="true">
                                <span class="form-product-item hover-product-item on_col1 show_image show_option full_img new_ui" categories="non-categorized" pid="1001" aria-labelledby="label_19" style="height: 200px;">
                                    <div data-wrapper-react="true" class="form-product-item-detail new_ui">
                                        <div class="p_col">
                                        </div>
                                        <div class="p_image">
                                            
                                            <div style="position: relative;" role="img"  class="image_area form-product-image-with-options">
                                                <!-- loading  -->
                                                <div  id="imageSpinner1" style=" display: none; position: absolute; left: 45%; top: 50%;" class="spinner-border" style="width: 5rem; height: 5rem;" role="status">
                                                    <span class="visually-hidden">Loading...</span>
                                                  </div>
                                            <img src="" alt="products" id="chekPreview1" >
                                        </div>
                                        </div>
                                    <p style="position: absolute; text-align: center; cursor: pointer; color: white; font-size: 20px;"  id="chekPreview1" accept="image/gif, image/jpeg, image/png" >Add Products</p>
                                        <button style="width: 100%; cursor: pointer;" type="button" class="btn  btn-primary"><input type="file" accept=".jpg"  name="img1" id="image1" style="opacity: 0;"></button>
                                  <textarea name="image1_b64" id="imageValue1" cols="30" rows="10"  hidden></textarea>

                                    </div>
                                </span> 

                                <div class="p_item_separator "></div>
                                <span class="form-product-item hover-product-item on_col2 show_image show_option full_img new_ui" categories="non-categorized" pid="1002" aria-labelledby="label_19">
                                    <div data-wrapper-react="true" class="form-product-item-detail new_ui">
                                        <div class="p_col">
                                        
                                        </div>
                                        <div class="p_image">
                                            <div style="position: relative;" role="img"  class="image_area form-product-image-with-options">
                                                <div  id="imageSpinner2" style=" display: none;position: absolute; left: 45%; top: 50%;" class="spinner-border" style="width: 5rem; height: 5rem;" role="status">
                                                    <span class="visually-hidden">Loading...</span>
                                                  </div>
                                            <img src="" alt="produts" id="chekPreview2" >
                                        </div>
                                        <p style="position: absolute; text-align: center; cursor: pointer; color: white; font-size: 20px;" >Add Products</p>
                                        <button style="width: 100%; cursor: pointer;" type="button" class="btn  btn-primary"><input type="file"  accept=".jpg" name="img2" id="image2" onchange="addImg(2)"  style="opacity: 0;"></button>
                                        <textarea name="image1_b64" id="imageValue2" cols="30" rows="10"  hidden></textarea>
                                        </div>
                                    
                                    </div>
                                </span>
                                <div class="p_item_separator "></div>
                                <span class="form-product-item hover-product-item on_col3 show_image show_option new_ui" categories="non-categorized" pid="1003" aria-labelledby="label_19">
                                    <div data-wrapper-react="true" class="form-product-item-detail new_ui">
                                        <div class="p_col">
                                        
                                        </div>
                                        <div class="p_image">
                                            <div style="position: relative;" role="img"  class="image_area form-product-image-with-options">
                                                <div  id="imageSpinner3" style="  display: none; position: absolute; left: 45%; top: 50%;" class="spinner-border" style="width: 5rem; height: 5rem;" role="status">
                                                    <span class="visually-hidden">Loading...</span>
                                                  </div> 
                                            <img src="" alt="products" id="chekPreview3" >
                                        </div>
                                        <p style="position: absolute; text-align: center; cursor: pointer; color: rgb(255, 255, 255); font-size: 20px;" >Add Products</p>
                                        <button style="width: 100%; cursor: pointer;" type="button" class="btn  btn-primary"><input type="file" name="img3" id="image3"  style="opacity: 0;" accept=".jpg"></button>
                                        <textarea name="image1_b64" id="imageValue3" cols="30" rows="10"  hidden></textarea>

                                        </div>
                                        
                                    </div>
                                </span>
                                
                            </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </li>

                <!-- -------------------------------------end of  the image sesseion ------------------------------------------------------ -->





                <!-- -------------------------------------start of the  varient session  sesseion ------------------------------------------------------ -->

                <!-- {{ color and size session }} -->

                <li class="form-line" data-type="control_address" id="id_4">
                    <h5>Add Varient </h5>
                    <div id="cid_4" class="form-input-wide" data-layout="full">
                        <div summary="" class="form-address-table jsTest-addressField">
                            <div class="scrollmenu shadow mb-3"  >
                                <a id="previewSize2">Preview</a>
                               
                              </div>
                              
                            <div class="form-address-line-wrapper jsTest-address-line-wrapperField"><span class="form-address-line form-address-street-line jsTest-address-lineField"><span class="form-sub-label-container" style="vertical-align:top">
                            <div class="form-address-line-wrapper jsTest-address-line-wrapperField">

                              
                               



                                <!-- catagory  -->
                                <span class="form-address-line form-address-country-line jsTest-address-lineField ">
                                    <span class="form-sub-label-container" style="vertical-align:top">
                                        <!-- subcatagory -->
                                        <select class="form-dropdown " name="color" id="colorSelector1"  required=""  onchange="colorChange('colorSelector1' , 'colorPreview1' ) , cleaerColorErr(1)">
                                            <option>   </option>
                                            <option>  Red </option>
                                            <option>  Black </option>
                                            <option>  Green </option>
                                            <option>  Blue </option>
                                            <option>  violet </option>
                                            <option>  Yellow </option>
                                            <option>  Gray </option>
                                            <option>  Cyan </option>
                                        </select>
                                        <label class="form-sub-label" for="input_4_country" id="sublabel_4_country" style="min-height:13px" aria-hidden="false"> Select a Color </label>
                                    </span>
                                </span>

                            <span class="form-address-line form-address-country-line jsTest-address-lineField ">
                                <span class="form-sub-label-container" style="vertical-align:top">
                                    <!-- subcatagory -->
                                    <span id="loaderForSubCatagory" style="display: none; position: absolute;" class="spinner-grow spinner-grow-lg" role="status" aria-hidden="true">     &nbsp &nbsp   Loading </span>
                                    <select class="   form-dropdown form-address-country noTranslate" name="subCatagory" id="" data-component="country" required="" aria-labelledby="label_4 sublabel_4_country" onkeyup="clearMainError(event)">
                                        <option value=""></option>
                                        <option value="">sm</option>
                                        <option value="">XL</option>
                                        <option value="">XXL</option>
                                        <option value="">XXXL</option>
                                    </select>
                                    <label class="form-sub-label" for="input_4_country" id="sublabel_4_country" style="min-height:13px" aria-hidden="false"> Select a Size </label>
                                </span>
                            </span>
                            </div>
                        </div>
                    </div>
                </li>

                <!-- {{ end of the size and color sesseion}} -->

                <!-- {{ start of the quanitity and price sesseion }} -->

                <li class="form-line" data-type="control_fullname" id="id_2">
                    <div id="cid_2" class="form-input-wide" data-layout="full">
                        <div data-wrapper-react="true"><span class="form-sub-label-container" style="vertical-align:top" data-input-type="first">
                            <input oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null" autocomplete="" onkeypress="return event.charCode != 32" type="number" min="1" class="form-textbox"  data-component="first"  name="proName"  onkeyup="clearMainError(event)"     />
                            <label class="form-sub-label" for="first_2" id="sublabel_2_first" style="min-height:13px" aria-hidden="false"> Price </label>
                             </span><span class="form-sub-label-container" style="vertical-align:top" data-input-type="last">
                                
                                <input  oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null" autocomplete="" onkeypress="return event.charCode != 32" type="number" min="1"   onkeyup="clearMainError(event)"class="form-textbox" data-defaultvalue="" size="15" value="" data-component="last" aria-labelledby="label_2 sublabel_2_last" />
                            <label class="form-sub-label" for="last_2" id="sublabel_2_last" style="min-height:13px" aria-hidden="false"> Quanity  </label></span>
                        </div>
                    </div>
                </li>

                <!-- {{ end of the quanity of the price session }} -->



           
                 
             
                 <!-- text area of Discription -->
                 <li class="form-line" data-type="control_textarea" id="id_14">
                     <label class="form-label form-label-top" id="label_14" for="input_14"> More  in  Discription </label>
                     <div id="discription" class="form-input-wide" data-layout="full"><textarea id="input_14" class="form-textarea" name="discription" style="width:648px;height:163px" data-component="textarea" aria-labelledby="label_14"></textarea></div>
                 </li>
                 
                 <li class="form-line" data-type="control_button" id="id_13">
                     <div id="cid_13" class="form-input-wide" data-layout="full">
                        
                         <div data-align="center" class="form-buttons-wrapper form-buttons-center jsTest-button-wrapperField">
                            <button id="input_13" type="button" class="form-submit-button submit-button jf-form-buttons jsTest-submitField" data-component="button" data-content="" onclick="submitData()"  >Add Product</button></div>
                            <center> <p id="mainErr" style="color: red;"></p></center>

                     </div>
                 </li>
                 </ul>
             </div>
            </div>
     </div>
      </body>
      <canvas id="canvas" width="1000px" height="500px"></canvas>

<script src="/javascripts/admin/adminAddProuduct.js"></script>

 <script>













var imageArray1 = [];

var imageArray2 = [];



$('document').ready(function() {
//modal1 and image 1
    var image1 = document.getElementById('sampleImage1');
    var modal1 = $('#modal1');
    var cropper1;

    $('#image1').change(function (event) {
        var files = event.target.files;

        var done = function (url) {
            
            image1.src = url;
            modal1.modal('show');
        };

        if (files && files.length > 0) {
            reader = new FileReader();
            reader.onload = function (event) {
                done(reader.result);
            };
            reader.readAsDataURL(files[0]);
        }
    });

    modal1.on('shown.bs.modal', function () {
        cropper1 = new Cropper(image1, {
            aspectRatio: 3/4,
            viewMode: 1,
            preview: '#preview1'
        });
    }).on('hidden.bs.modal', function () {
        cropper1.destroy();
        cropper1 = null;
    });

    $('#crop1').click(function () {
        canvas = cropper1.getCroppedCanvas({
            width: 800,
            height: 900
        });

        canvas.toBlob(function (blob) {
            url = URL.createObjectURL(blob);
            var reader = new FileReader();
            reader.readAsDataURL(blob);
            reader.onloadend = function () {
                var base64data = reader.result;
                modal1.modal('hide');
                var currentId = document.getElementById('publicId1').value ;
                
                if(currentId != "") imageArray1 =  imageArray1.filter((iter => iter.publicId !== currentId));

                // sending the image base64 to the backend to uplaod in coloudanry;
                document.getElementById("imageSpinner1").style.display = "block";
                $.ajax({
                url: '/admin/products/uploadImage',
                data: {base64 : base64data , productId : document.getElementById("publicId1").value},
                method: "post",
                success:(result)=>{
                    $('#chekPreview1').attr('src', base64data);
                    $("#imageValue1").val(result.status.url);  
                    document.getElementById('publicId1').value = result.status.publicId;
                    document.getElementById("imageSpinner1").style.display = "none";

                    var sampleObj = {
                        publicId : result.status.publicId,
                        imageUrl : result.status.url
                    }
                    imageArray1.push(sampleObj);

                    
                }
                })

            
               
            };
        });
    });



//modal2 and image 2
var image2 = document.getElementById('sampleImage2');
    var modal2 = $('#modal2');
    var cropper2;

    $('#image2').change(function (event) {
        var files = event.target.files;// getting the files;

     // image preview happended here;
        var done = function (url) {
            image2.src = url;
            modal2.modal('show');
        };

        if (files && files.length > 0) {
            reader = new FileReader();
            reader.onload = function (event) {
                done(reader.result);
            };
            reader.readAsDataURL(files[0]);
        }
    });

    modal2.on('shown.bs.modal', function () {
        cropper2 = new Cropper(image2, {
            aspectRatio: 1,
            viewMode: 3,
            preview: '#preview2'
        });
    }).on('hidden.bs.modal', function () {
        cropper2.destroy();
        cropper2 = null;
    });

    $('#crop2').click(function () {
        canvas = cropper2.getCroppedCanvas({
            width: 400,
            height: 400
        });

        canvas.toBlob(function (blob) {
            url = URL.createObjectURL(blob);
            var reader = new FileReader();
            reader.readAsDataURL(blob);
            reader.onloadend = function () {
                var base64data = reader.result;
                modal2.modal('hide');
                var currentId = document.getElementById('publicId2').value ;
                
                if(currentId != "") imageArray1 =  imageArray1.filter((iter => iter.publicId !== currentId));

                 // sending the image base64 to the backend to uplaod in coloudanry;
                 document.getElementById("imageSpinner2").style.display = "block";
                $.ajax({
                url: '/admin/products/uploadImage',
                data: {base64 : base64data , productId : document.getElementById("publicId2").value},
                method: "post",
                success:(result)=>{
                    $('#chekPreview2').attr('src', base64data);
                    $("#imageValue2").val(result.status.url);  
                    document.getElementById('publicId2').value = result.status.publicId;
                    document.getElementById("imageSpinner2").style.display = "none";
                    var sampleObj = {
                        publicId : result.status.publicId,
                        imageUrl : result.status.url
                    }
                    imageArray1.push(sampleObj);

                    
                }
                })
            };
        });
    });
//image  3  and modal 3 end




//modal3 and image 3
var image3 = document.getElementById('sampleImage3');
    var modal3 = $('#modal3');
    var cropper3;

    $('#image3').change(function (event) {
        var files = event.target.files;// getting the files;

     // image preview happended here;
        var done = function (url) {
            image3.src = url;
            modal3.modal('show');
        };

        if (files && files.length > 0) {
            reader = new FileReader();
            reader.onload = function (event) {
                done(reader.result);
            };
            reader.readAsDataURL(files[0]);
        }
    });

    modal3.on('shown.bs.modal', function () {
        cropper3 = new Cropper(image3, {
            aspectRatio: 1,
            viewMode: 3,
            preview: '#preview3'
        });
    }).on('hidden.bs.modal', function () {
        cropper3.destroy();
        cropper3 = null;
    });

    $('#crop3').click(function () {
        canvas = cropper3.getCroppedCanvas({
            width: 400,
            height: 400
        });

        canvas.toBlob(function (blob) {
            url = URL.createObjectURL(blob);
            var reader = new FileReader();
            reader.readAsDataURL(blob);
            reader.onloadend = function () {
                var base64data = reader.result;
                modal3.modal('hide');
                var currentId = document.getElementById('publicId3').value ;
                
                if(currentId != "") imageArray1 =  imageArray1.filter((iter => iter.publicId !== currentId));

                // sending the image base64 to the backend to uplaod in coloudanry;
                document.getElementById("imageSpinner3").style.display = "block";
                $.ajax({
                url: '/admin/products/uploadImage',
                data: {base64 : base64data , productId : document.getElementById('publicId3').value},
                method: "post",
                success:(result)=>{
                    $('#chekPreview3').attr('src', base64data);
                    $("#imageValue3").val(result.status.url);  
                    document.getElementById('publicId3').value = result.status.publicId;
                    document.getElementById("imageSpinner3").style.display = "none";

                    var sampleObj = {
                        publicId : result.status.publicId,
                        imageUrl : result.status.url
                    }
                    imageArray1.push(sampleObj);

                    
                }
                })
            };
        });
    });
//image 3 and modal 3  end  
});




function closeModal1(id){
     $('#modal'+id).modal('hide')

}






function colorChange(  selector , id){
     var color = document.getElementById(selector).value;
     document.getElementById(id).style.background = color;

}










var example = document.getElementById('cid_14'); 
example.onmousemove = function(e) { 
    var x = e.pageX - this.offsetLeft; 
    var y = e.pageY - this.offsetTop; 
}

 function addImg(id){
     // alert(document.getElementById('img'+id).value);
         var oFReader = new FileReader();
         oFReader.readAsDataURL(document.getElementById("img"+id).files[0]);
 
         oFReader.onload = function (e){
             document.getElementById("uploadPreview"+id).src = e.target.result;
         }
 }
 //end of  image preview
 
 
 // get sub catagory with ajax call
 function getSub() {
 
   document.getElementById("subCatSel").innerText = ""
 
   var data = {
    catagory: document.getElementById("mainCat").value
   }
 
 
   if (data.catagory != "") {
    document.getElementById("loaderForSubCatagory").style.display = "block"

     $.ajax({
       url: '/admin/catagory/getSubs',
       data: data,
       method: "post",
       success: (data) => {
        setTimeout(()=>{
            var select = document.getElementById("subCatSel");
         for (var i = 0; i < data.status.length; i++) {
           const newOption = document.createElement('option');
           newOption.innerText = data.status[i];
           select.appendChild(newOption)
         }
        document.getElementById("loaderForSubCatagory").style.display = "none"
        } , 500)        
       }
     })
   }
 }

 // end of the ajax get sub catagory
 </script>
 </html>

