
<%-include('./partials/!docType')%>
<%-include('./partials/header')%>
<%-include('./partials/spinner') %> 
<style>
     tr{
          border-bottom: 1px solid gold;
     }
</style>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<link rel="stylesheet" href="/stylesheets/admin/admin-prouctlist.css">
<div class="container">
     <div class="row">
          <div class="home-content loader">
               <div class="tableContol" >
          <table class="table table-borderless shadow" id="table" >
               <thead>
                 <tr style="text-align: center;">
                   <th scope="col">#</th>
                   <th scope="col">Product-Image</th>
                   <th scope="col">Details</th>
                   <th scope="col">Catagory and SubCatagory</th>
                   <th scope="col">Priece</th>
                   <th scope="col">Stock status</th>
                   <th scope="col">Actions</th>


                 </tr>
               </thead>
               <tbody>
                    <% for(var i = 0 ;i< data.length;i++){%> 

                 <tr style="background-color: white;" class="table-white shadow">
                   <th scope="row" class="align-middle"><%=i+1 %> </th>
                   <td>
                         <div class="image-div" style="width: 150px; height: 100px;">
                              <img  src="<%=data[i].varient[0].image[0].imageUrl%>" alt="" style="width: 100%; height: 100%; object-fit: contain;">
                         </div> 

                   </td>
                   <td class="align-middle">
                       <h5 style="letter-spacing: 2px;"> <%=data[i].productName%> </h5>
                       
                 
                    </td>

                    <td class="align-middle" style="display: flex; justify-content: space-evenly;"> <h5 class="mt-4 text-info" ><%=data[i].catagory%> </h3>
                    <h6 class="mt-4 text-danger"><%=data[i].subCatagory%> </h6>
                    
                    </td>


                   <td style="text-align: center;" class="align-middle">₹<span></span></td>

                 

                    <td class="align-middle" >
                         <button type="button" class="btn btn-outline-success">Avaliable</button>
                        
        
                      </td>

                      <td style="border-left: 1px solid rgb(230, 227, 227); padding-left: 1%;" class="align-middle">
                         <button type="button" class="btn btn-outline-info">Edit </button>
                         <button type="button" class="btn btn-outline-danger">Delete</button>
        
                      </td>
                 

                      </tr>
                      
                      <% } %> 
               </tbody>
             </table>
          </div>
          </div>
     </div>
</div>


<div class="w3-container">
     <h2>W3.CSS Modal</h2>
     <button onclick="document.getElementById('productList').style.display='block'" class="w3-button w3-black">Open Modal</button>
   
     <div id="productList" class="w3-modal" >
       <div class="w3-modal-content">
         <div class="w3-container">
           <span onclick="document.getElementById('productList').style.display='none'" class="w3-button w3-display-topright">&times;</span>
               <div class="prolistMain">
                    <div class="col-md-3">
                         <!-- {{ image set up }} -->
                         <div class="imagePrvew">
                              <img src="https://res.cloudinary.com/da0gasflc/image/upload/v1639035838/xmuwuhbozgn24yu4be5l.png" alt="">
                         </div>
                    </div>
                    <div class="col-md-4 colorWiseTable">


                    </div>
                    <div class="col-md-5 sizeMani">
                         <div class="sizeVise">
                              
                         </div>
                         <div class="sizeVise">he</div>
                         <div class="sizeVise">he</div>
                    </div>

               </div>
         </div>
       </div>
     </div>
   </div>
   

   <style>
        .prolistMain{
             padding: 1rem;
             width: 100%;
             display:  flex;
        }
        .imagePrvew{
             width: 10vw;
             height: 10vh;;
             
        }
        .imagePrvew img{
             width: 100%;
             height: 100%;
             object-fit: contain;
        }
        .colorWiseTable{
             border: 2px solid rgb(0, 0, 0);
               margin: 2%;
             padding: 2rem;
             width: 50px;
             height: 50px;
             background-color: red;
        }
        .sizeMani{
             text-align: center;
           
             display: flex;
             flex-direction: column;
        }

   </style>